@charset "UTF-8";

#txt {
	width: 240px;
	height: 84px;
	margin: -42px 0 0 -120px;
	position: absolute;
	top: 50%;
	left: 50%;
}

#txt {
	display: flex;
	align-items: end;
}
#txt > div {
	margin-right: 10px;
}
